@import url("https://fonts.googleapis.com/css2?family=Glory:wght@300;500&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #decec5;
  font-family: "Jost", sans-serif;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
  }
}

@keyframes flow {
  0% {
    background-position: -1200px 0px;
  }
  100% {
    background-position: -50px, 0px;
  }
}

@keyframes move {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translate(-400px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes flow_half {
  0% {
    background-position-x: -15rem;
    background-position-y: bottom;
  }
  100% {
    background-position-x: 0rem;
    background-position-y: bottom;
  }
}

.animate-move {
  animation: move 1s linear infinite;
}

.animate-flow_half {
  animation: flow 8s linear infinite;
}

.animate-flow {
  animation: flow 8s linear infinite;
}

.bg-halfwave-bottom {
  background-position: center bottom;
}
